body {
  min-height: 3000px;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}
#services {
  background-color: #e2edff;
 

}
section {
  padding-top: 1rem;
}
#runningtext {
  width: 100%;
  background-color: #e2edff;
  color: black;
  position: relative;
}
.gallery-img {
  width: 100%;
}
#gallery .row > * {
  padding: 2px;
}
/*style kategori*/
.img-kategori{
  
  width :100px;
}
.img-kategori:hover{
  transform: scale(1.2);
  transition: 0.2s;

}
.card-body {
  background-color:#e2edff;

 
}